@charset "UTF-8";

/* styles/style.css */

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #f8f9fa;*/
/*    color: #333;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}



header {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    text-align: center;
}

main {
    padding: 20px;
    
    
}

h1 {
    color: rgb(255, 128, 0);
}

button {
    background-color: rgb(0, 0, 255);
    color: rgb(255, 128, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(255, 128, 0);
}
.submit-btn {
  display: block;
  margin-left: auto;     /* ← 右寄せ */
  margin-right: 0;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}